.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  gap: 2rem;
  background-color: var(--color-ui-background);
  padding: 0;
  margin: 0;
  height: 4rem;
  z-index: 2;
  box-shadow: -1px 26px 48px -21px rgba(42, 45, 47, 0.16);
}

.navigation__item {
  padding: .5rem 1rem;
  border-radius: .5rem;
  text-decoration: none;
}

.navigation__item:hover {
  color: var(--color-brand);
}

.navigation__item_active {
  color: var(--color-ui-background);
  background: var(--color-brand);
  font-weight: bold;
}

.navigation__item_active:hover {
  color: var(--color-ui-background);
}
