.footer {
  padding: 2rem 4rem;
  background-color: var(--color-primary);
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.footer__link {
  color: white;
}

#timestamp {
  color: var(--color-ui-background)
}
