@media screen and (max-width: 576px) {
  .section {
    padding: 1rem 2rem;
  }

  pre {
    display: none;
  }

  .portfolio__wrapper {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
  }
}

@media screen and (max-width: 992px){
  .achievements-block {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .achievements-block__item {
    flex: 0 0 100%;
    margin: 0;
  }

  .portfolio,
  .portfolio__wrapper {
    justify-content: center;
  }

  .portfolio__sidebar {
    display: none;
  }

  .table__header tr,
  .table__body tr {
    grid-template-columns: repeat(4, 1fr);
  }

  .table__body tr td:first-child,
  .table__header tr td:first-child {
    display: none;
  }
}

@media screen and (min-width: 1500px){
  .portfolio {
    justify-content: space-between;
  }
}
