@media screen and (max-width: 576px) {
  .section {
    padding: 1.5rem 0;
  }

  pre {
    display: none;
  }

  .footer {
    padding: 1rem 0;
  }

  .schedule__form {
    align-items: center;
  }

  .schedule__form label {
    width: 100%;
  }

  .schedule__select {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bio__img {
    margin-left: 1rem;
  }

  .schedule__input,
  .schedule__item {
    width: 100%;
    margin: 0;
  }

  .feedback__item_container {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin-bottom: 1rem;
  }

  .portfolio__item {
    margin: 0 .4rem;
  }

  .portfolio__item_header {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 992px){
  .achievements-block {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .achievements-block__item {
    flex: 0 0 100%;
    margin: 0;
  }

  .table__header tr,
  .table__body tr {
    grid-template-columns: repeat(4, 1fr);
  }

  .table__body tr td:first-child,
  .table__header tr td:first-child {
    display: none;
  }
}
