*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100vh;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  background: var(--color-ui-background);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: underline;
  color: var(--color-primary);
  transition: var(--mixin-transition)
}

a:hover {
  color: var(--color-brand);
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  box-shadow: none;
}

button {
  cursor: pointer;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: var(--color-primary);
}

p,
span {
  font-weight: 400;
}

q {
  text-align: center;
  font-style: italic;
}


footer {
  color: white;
}
