@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100vh;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  background: var(--color-ui-background);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--color-primary);
  position: relative;
  transition: var(--mixin-transition);
  border-radius: 0.3em;
  display: inline-block;
  text-decoration: none;
  will-change: transform;
}

a:before {
  background: var(--color-brand-transparent);
  border-radius: 0.3em;
  bottom: 0;
  content: "";
  left: -0.25rem;
  position: absolute;
  right: -0.25rem;
  top: 0;
  padding: .5rem;
  transform: scaleY(.06);
  transform-origin: 0 100% 0;
  transition: var(--mixin-transition);
  z-index: -1;
}

a:hover:before {
  transform: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  box-shadow: none;
}

button {
  cursor: pointer;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: var(--color-primary);
}

p,
span {
  font-weight: 400;
}

q {
  text-align: center;
  font-style: italic;
}


footer {
  color: white;
}

mark {
  padding: .2rem;
  background: rgba(17, 48, 179, 0.13);
  font-weight: 500;
  color: var(--color-primary);
}
