.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
}

.navigation__item {
  padding: 1rem;
}

.section {
  padding: 2rem 4rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.bio__img {
  box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
  border-radius: .5rem;
  border: 10px solid rgb(233, 30, 145);
}

.achievements-block__item {
  margin: 2rem 0;
  display: block;
  background: linear-gradient(90deg, rgba(104,162,228,1) 0%, rgba(101,108,182,1) 26%, rgba(59,121,226,1) 57%, rgba(0,212,255,1) 100%);
  border-radius: .5rem;
  padding: 1rem 2rem;
}

.achievements-block__header {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  transform: skew(-20deg);
}

.achievements-block__list {
  list-style-type: persian;
}

.portfolio {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.portfolio__sidebar {
  float: right;
  padding: 1rem;
}

.portfolio__item {
  box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
  border-radius: .2rem;
}

.portfolio__item img {
  aspect-ratio: 4 / 3;
  height: 5rem;
}

.footer {
  padding: 2rem 4rem;
  background-color: rgb(15, 15, 19);
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.footer__link {
  color: white;
}